body {
    max-width: 100vw;
    display:block;
    float: none;
    margin: 5;
    background-color: bisque;
    align-items: center;
}



.logo {
    width: 100vw; 
    height: auto; 
    overflow: hidden; 
    
}

.logo img {
    width: 100%; 
    height: 200px; 
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
   
}

.postitus {
    width: 33,33%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}

.postitus img {
    width: 300px;
    height: auto;
    display: block;
 }
.image-container {
    width: 100px; 
    
    max-width: 100%; 
}






nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 221, 223);
    
}

nav a {
        padding: 10px 50px; 
        text-decoration: none;
        border: 1px salmon;
}

.about {
    background-color: bisque;
}

.contact {
    background-color: bisque;
}

.h1 {
    text-align: center;
}

.footer {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 0.5rem;
  }